[Unit]
Description=HDFS Service: distributed file system.
After=hdfs-namenode.service

[Service]
Restart=always
StartLimitInterval=0
RestartSec=15
LimitNOFILE=infinity
PermissionsStartOnly=True
SyslogIdentifier=hdfs
EnvironmentFile=/etc/default/java
EnvironmentFile=/etc/default/hadoop
ExecStart=/usr/local/hadoop/bin/hdfs --config $HADOOP_CONF_DIR datanode

[Install]
WantedBy=default.target
