[Unit]
Description=Zookeeper Service: distributed coordination service.

[Service]
Restart=always
StartLimitInterval=0
RestartSec=15
LimitNOFILE=infinity
PermissionsStartOnly=True
SyslogIdentifier=zookeeper
EnvironmentFile=/etc/default/java
EnvironmentFile=/etc/default/kafka
ExecStart=/usr/local/kafka/bin/zookeeper-server-start.sh /usr/local/kafka/config/zookeeper.properties

[Install]
WantedBy=default.target
